<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test document</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Welcome from EJS</h1>
    <p>Semos JavaScript</p>
    <h2><%=data1%></h2>
    <h3><%=data2%></h3>
  </body>
</html>
